.page {
  width: 1024px;
  height: 6895px;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #2a2c2f;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
