.place__web-heading {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
  color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .place__web-heading {
    line-height: 12px;
  }
}
@media screen and (max-width: 320px) {
  .place__web-heading {
    padding-top: 32px;
  }
}
