.footer__links {
  list-style: none;
  display: flex;
  width: 446px;
  justify-content: space-between;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    justify-content: space-between;
    width: 186px;
    height: 248px;
  }
}
