.place__paragraph {
  grid-area: text;
  max-width: 484px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    align-self: start;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
