.introduction__caption {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  height: 14px;
  width: 158px;
  left: 48px;
  top: 1076px;
}
