.cover {
  max-width: 1184px;
  width: 100%;
  box-sizing: border-box;
  margin-left: 48px;
  margin-right: 48px;
}

.cover:hover {
  opacity: 0.3;
  transition: all ease-in-out 0.2s;
}
@media screen and (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}
