.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 740px;
  background-color: black;
  opacity: 0.3;
  margin: auto;
  align-items: center;
}
