.header__link_language_en {
  text-decoration: none;
  margin-left: 18px;
  color: #ffffff;
}

.header__link_language_en:hover {
  color: rgb(141, 136, 136);
  opacity: 0.3;
  transition: ease-in 0.2s;
}
@media screen and (max-width: 600px) {
  .header__link_language_en {
    font-size: 18px;
    line-height: 20px;
    margin-left: 16px;
  }
}
