.place {
  display: grid;
  grid-template-columns:
    minmax(460px, max-content)
    minmax(min-content, max-content);
  gap: 48px 40px;
  grid-template-areas:
    "title web"
    "image text";
  padding-bottom: 80px;
}
.place:last-child {
  padding-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns:
      minmax(440px, max-content)
      minmax(min-content, max-content);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns:
      minmax(340px, max-content)
      minmax(min-content, max-content);
    gap: 48px 28px;
    padding-bottom: 73px;
  }
}
@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-template-areas:
      "title"
      "web"
      "image"
      "text";
    padding-bottom: 50px;
  }
}
