.intro-content {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  min-height: 429px;
  box-sizing: border-box;
  margin-left: 148px;
  padding-top: 92px;
}
@media screen and (max-width: 1024px) {
  .intro-content {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro-content {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 88px;
  }
}
@media screen and (max-width: 600px) {
  .intro-content {
    max-width: 288px;
    min-height: 754px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 64px;
  }
}
